<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Footer style -->
		<style>
			html {
  				position: relative;
  				min-height: 100%;
			}
			body {
				/* Margin bottom by footer height */
				margin-bottom: 60px;
			}
			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				/* Set the fixed height of the footer here */
				height: 60px;
				background-color: #AFEEEE;
				margin-top: 10px;
			}
			body > .container {
				padding: 60px 15px 0;
			}
			.container .text-muted {
				margin: 20px 0;
			}
			.footer > .container {
				padding-right: 15px;
				padding-left: 15px;
			}
		</style>
		<title>Бытовая лексика: поиск</title>
	</head>
	<body>
		<!-- Header -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Современная бытовая лексика</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Заполнить анкету</a></li>
						<li><a href="/stats">Статистика</a></li>
						<li><a href="/json">JSON</a></li>
						<li class="active"><a href="/search">Поиск</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Main stats -->
		<!-- Title -->
		<div class="container theme-showcase" role="main">
			<div class="jumbotron">
				<h1>Поиск по результатам</h1>
			</div>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h1 class="panel-title">Здесь можно посмотреть, какие варианты предлагают для разных предметов участники опроса</h1>
					</div>
                        <!-- Instructions -->
                        <div class="well">
					<h2>Как искать?</h2>
					<p> Можно задать пол, возраст или регион участников и посмотреть их ответы.</p>
				</div>
                    <form method="GET" action='/results'>
                        <p> Пол (женский, мужской, другой)<input type="text" name="searchGender"></p>
                        <p> Место рождения <input type="text" name="searchRegionBorn"></p>
                        <p> Место, где респондент провел большую часть жизни <input type="text" name="searchRegionLife"></p>
                        <p> Возраст <input type="text" name="searchAge"></p>
                        <!-- Опции -->
                        <p> <input type="radio" name="younger"> моложе указанного возраста<br />
                        <input type="radio" name="older"> старше указанного возраста<br />
                        <input type="radio" name="equal"> ровно указанного возраста </p>
				<!-- SEARCH -->
				<p align="center"><input type="submit" class="btn btn-lg btn-primary" value="Искать"></p>
			</form>
			</div>
<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<p class="text-muted">Алина Смирнова, Школа Лингвистики НИУ ВШЭ; <a href="mailto:alinasmirnovaalina71@gmail.com">пишите!</a></p>
				</div>
			</footer>
		</div>
	</body>
</html>
